db.sqlite3
mysiteapp/__pycache__/views.cpython-37.pyc
mysiteapp/__pycache__/urls.cpython-37.pyc
mysiteapp/__pycache__/models.cpython-37.pyc
mysiteapp/__pycache__/urls.cpython-37.pyc
mysiteapp/__pycache__/views.cpython-37.pyc
mysiteapp/migrations/__pycache__/0001_initial.cpython-37.pyc
mysiteapp/migrations/0001_initial.py
