#background{
   
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width:100%;
        overflow-x: hidden;
}
#content{
    overflow-y: auto;
}



#navitems{
    font-weight: bold;
    font-size: larger;
    font-family: 'Merriweather';
} 

nav .navbar-nav li a{
    color: white !important;
}
nav .navbar-nav li a:hover{
    color: lightblue !important;
}

#content{
    overflow-x: hidden;
    
}


      