{% extends 'mysiteapp/base.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static "css/index.css"%}" type="text/css">


{% endblock %}
{% block body_block %}
<div id="indexcont">
<div class="card">
<div class="card-body">
    <h5 class="card-title">Short About</h5>
    <img id="meimage" src="{% static "images/me.jpg"%}">
    <p class="card-text" id="mepara">  My name is Calum MacPhee. Im a third year Computer Science student at the University of Glasgow. Welcome to the website that I have created.
      I mainly created this site for fun and to demonstrate my skills but here you will also be able to find the projects I have been apart of and a bit more about me.
    </p>
    
  
</div>
</div>
<hr class="hrs">
<div class="card">
<div class="card-body">
    <h5 class="card-title">Programming languages I have used</h5>
    <p class="card-text">I have used various programming languages such as: </p>
      <li>Python</li>
      <li>Java</li>


    
  
</div>
</div>
<hr class="hrs">
<div class="card" id="lastcard">
  <div class="card-body">
      <h5 class="card-title">My Socials</h5>
      <a href="https://github.com/Calmac56"><i class="fab fa-github fa-5x" data-toggle="tooltip" title="Github"></i></a>
      <a href="https://www.linkedin.com/in/calum-macphee-882337a0/"><i class="fab fa-linkedin fa-5x" data-toggle="tooltip" title="LinkedIn"></i></a>
      <a href="https://twitter.com/mrmacphee2000"><i class="fab fa-twitter-square fa-5x" data-toggle="tooltip" title="Twitter"></i></a>
      <a href="mailto:cmacphee56@gmail.com"><i class="far fa-envelope fa-5x" data-toggle="tooltip" title="Email"></i></a>
            
</div>
</div>
        
        
      
</div>
<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}