{% extends 'mysiteapp/base.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static "css/index.css"%}" type="text/css">
{% endblock %}
{% block body_block %}
<div id="indexcont">
<div class="card">
<div class="card-body">
    <h5 class="card-title">Short About</h5>
    <p class="card-text">My name is Calum MacPhee. Im a third year Computer Science student at the University of Glasgow. Welcome to the website that I have created.
      I mainly created this site for fun and to demonstrate my skills but here you will also be able to find the projects I have been apart of and a bit more about me.
    </p>
    
  
</div>
</div>
<hr class="hrs">
<div class="card">
<div class="card-body">
    <h5 class="card-title">Programming languages I have used</h5>
    <p class="card-text">My name is Calum MacPhee. Im a third year Computer Science student at the University of Glasgow.</p>
    
  
</div>
</div>
<hr class="hrs">
</div>

{% endblock %}