{% extends 'mysiteapp/base.html' %}
{% load static %}
{% block head_block %}

<link rel="stylesheet" href="{% static "css/portfolio.css"%}" type="text/css">

{% endblock %}

{% block body_block %}

<div id="indexcont">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Longer About</h5>
        <p class="card-text" id="mepara"> I am an ambitious and hard working induvidual who through my past experiences in working and hobbies have shown my ability to work in a team.
            In any form of work today having good people and communication skill are key to have and I always try my hardest to come across as a confident induvidual who is also easily
            approachable. I have a good understanding of the computer science industry and the various deadlines and pressures that come with working within it. I have gained skills to meet deadlines from within
            my various univeristy modules for computing science as well as when doing my Advanced Higher computer science project in my final year of school. <br>
            <br>
            
        </p>
        
      
    </div>
    </div>
    <hr class="hrs">


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resume/Work experience</h5>
            <p class="card-text" id="mepara"> I am fluent in multiple programming langauges, with my main two being Java and Python. I also have a small amount of experience with C.
                I have used python for many different purposes including making this site, writing a game and a writing small scripts. I have extensively used java as part of my 2nd year univeristy
                courses where we were writing small class based games. I have used C in an elective physics course which gave a good base intro into C and linux.<br>
                <br>
                <h>Other Work Experience</h>
                <br>
                - Amazon July 2019 to Septamber 2019, Worked as a Customer Returns associate in the warehouse during the summer. 
            </p>
            
          
        </div>
        </div>
        <hr class="hrs">

{% endblock %}