{% extends 'mysiteapp/base.html' %}
{% load static %}
{% block head_block %}
<script type="text/javascript" src="{% static "js/projects.js"%}"></script>
<link rel="stylesheet" href="{% static "css/projects.css"%}" type="text/css">

{% endblock %}

{% block body_block %}
<div id="indexcont">
    <div class="card">
    <div class="card-body">
        <div id="titlediv">
        <h5 class="card-title">My Projects</h5>
    </div>
        {% if project %}
        {% for theproject in project %}
        <div id="projlist">
            <h id="projname"><a id="projurl" href="{% url 'mysiteapp:updateviews' theproject.projid %}" target="_blank"> {{ theproject.name }}<i id="namelink" class="fas fa-external-link-alt"></i></a></h>
            <i class="fab fa-{{ theproject.projecticon }} fa-5x" data-toggle="tooltip" title="{{ theproject.mainlanguage }}"></i>
            <div id="projinfo">{{ theproject.info }}</div>
            <div id="projdata"> Date created: {{ theproject.datecreated }} Last Modified: {{ theproject.lastmodified }}</div>
                <div id="extrainfo"><i class="fas fa-eye" id="views" data-toggle="tooltip" title="Project views"></i>{{ theproject.views }}</div>
            
            
        </div>
        <hr>

        {% endfor %}
        {% endif %}
</div>
</div>
</div>

{% endblock %}