{% extends 'mysiteapp/base.html' %}
{% load static %}
{% block head_block %}
<script type="text/javascript" src="{% static "js/projects.js"%}"></script>
<link rel="stylesheet" href="{% static "css/projects.css"%}" type="text/css">

{% endblock %}

{% block body_block %}
<div id="indexcont">
    <div class="card">
    <div class="card-body">
        <div id="titlediv">
        <h5 class="card-title">My Projects</h5>
    </div>
        {% if project %}
        {% for theproject in project %}
        <div id="projlist">
            <h id="projname"><a id="projurl" href="{{ theproject.url }}"> {{ theproject.name }} </a></h>
            <div id="projinfo">{{ theproject.info }}</div>
            <div id="projdata"> {{ theproject.datecreated }} {{ theproject.lastmodified }}
                {{ theproject.views }}</div>
            
            
        </div>
        <hr>

        {% endfor %}
        {% endif %}
</div>
</div>
</div>

{% endblock %}